body {
    min-width: max-content;
    text-align: center;
    font-size: 1.8em;
}

table {
    margin: auto;
    word-break: keep-all;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.ruby {
    font-family: Helvetica;
    color: #000066;
    font-size: 0.9em;
}

.Asian {
    font-family: "MS UI Gothic";
}